<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="SqlAdapter" type="com.kf.data.mybatis.entity.SqlAdapter" />
		<!-- 文书网 -->
		<typeAlias alias="WenshucourtData"
			type="com.kf.data.mybatis.entity.WenshucourtData" />
		<typeAlias alias="WenshucourtContent"
			type="com.kf.data.mybatis.entity.WenshucourtContent" />
		<!-- 年报解析 -->
		<typeAlias alias="PdfCodeLink" type="com.kf.data.mybatis.entity.PdfCodeLink" />
		<typeAlias alias="PdfCodeTemporary"
			type="com.kf.data.mybatis.entity.PdfCodeTemporary" />
		<typeAlias alias="PdfCodeTable" type="com.kf.data.mybatis.entity.PdfCodeTable" />
		<typeAlias alias="NeeqCompanyNotice"
			type="com.kf.data.mybatis.entity.NeeqCompanyNotice" />
		<typeAlias alias="PdfCodeChapter" type="com.kf.data.mybatis.entity.PdfCodeChapter" />
		<typeAlias alias="PdfReportLinks" type="com.kf.data.mybatis.entity.PdfReportLinks" />
		<typeAlias alias="PdfReportLinkText"
			type="com.kf.data.mybatis.entity.PdfReportLinkText" />
		<typeAlias alias="NeeqNotice" type="com.kf.data.mybatis.entity.NeeqNotice" />
		<typeAlias alias="PdfErrorRecord" type="com.kf.data.mybatis.entity.PdfErrorRecord" />


		<typeAlias alias="PdfReportModelNotice"
			type="com.kf.data.mybatis.entity.PdfReportModelNotice" />
		<typeAlias alias="PdfReportTableModel"
			type="com.kf.data.mybatis.entity.PdfReportTableModel" />
		<typeAlias alias="PdfReportTableValue"
			type="com.kf.data.mybatis.entity.PdfReportTableValue" />
		<typeAlias alias="TycHumans" type="com.kf.data.mybatis.entity.TycHumans" />



	</typeAliases>
	<!--数据源配置 这块用 BD2数据库 -->
	<environments default="localMysql">
		<!--采集数据库 -->
		<environment id="onLineMysql">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://10.26.84.23:3306/neeq?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
				<property name="username" value="etler" />
				<property name="password" value="iVqpEAs6" />
				<property name="poolPingQuery" value="SELECT  1+2" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
		<environment id="crawlerMysql">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://10.24.193.86:3306/crawler?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
				<property name="username" value="meidi" />
				<property name="password" value="12qwaszx" />
				<property name="poolPingQuery" value="SELECT  1+2" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
		<environment id="crawlerHisMysql">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://10.24.193.86:3306/crawler_his?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
				<property name="username" value="meidi" />
				<property name="password" value="12qwaszx" />
				<property name="poolPingQuery" value="SELECT  1+2" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
		<environment id="neeqetl">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://10.46.173.184:3306/kafka?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true" />
				<property name="username" value="etler" />
				<property name="password" value="12qwaszx!" />
				<property name="poolPingQuery" value="SELECT  1+2" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/kf/data/mybatis/mapper/SqlAdapterMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/WenshucourtDataMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/WenshucourtContentMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfCodeLinkMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfCodeTemporaryMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfCodeTableMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/NeeqCompanyNoticeMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfCodeChapterMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfReportLinksMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfReportLinkTextMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/NeeqNoticeMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfErrorRecordMapper.xml" />

		<mapper resource="com/kf/data/mybatis/mapper/PdfReportModelNoticeMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfReportTableModelMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/PdfReportTableValueMapper.xml" />
		<mapper resource="com/kf/data/mybatis/mapper/TycHumansMapper.xml" />
	</mappers>
</configuration> 